* {
  box-sizing: border-box;
}
body {
  background-color: rgb(218, 218, 218);
  margin-top: 0;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #9eb5e1;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
header img {
  width: 40%;

  margin-top: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}
header span {
  font-size: 1.3vw;
  color: black;
  padding: 0 0.5vw;
}
.language {
  width: 14%;
  margin: 0 0 0 86%;
}
.language a {
  text-decoration: none;
  color: #04284a;
  font-size: calc(4px + (18 - 4) * ((100vw - 300px) / (1600 - 300)));
}
.language a:hover {
  background-color: whitesmoke;
}
.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #7a88a3;
  width: 75%;
  margin: 0 auto;
  padding: 1%;
}
.mainNav a {
  text-decoration: none;
  font-size: calc(5px + (24 - 5) * ((100vw - 300px) / (1600 - 300)));
  color: whitesmoke;
}
.mainNav a:hover {
  background-color: whitesmoke;
  color: #04284a;
}
.teaser {
  width: 75%;
  margin: 0 auto;
  background-color: #171719;
  padding: 4% 0;
  padding-bottom: 3%;
}
.teaser h1 {
  color: whitesmoke;
  letter-spacing: 0.14em;
  font-size: calc(8px + (38 - 8) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin: 0 0 0 10%;
}
.secondaryNav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 75%;
  margin: 0 auto;
  background-color: #171719;
  color: whitesmoke;
  padding-bottom: 2%;
}
.secondaryNav pre {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: calc(8px + (24 - 8) * ((100vw - 300px) / (1600 - 300)));
}
.secondaryNav p {
  margin: 0;
  padding-left: 2%;
  font-size: calc(8px + (24 - 8) * ((100vw - 300px) / (1600 - 300)));
}
.description {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 100%;
  padding-left: calc(0.3px + (40 - 0.3) * ((100vw - 300px) / (1600 - 300)));
}
.location {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 100%;
  margin-right: 2%;
  position: relative;
}
.secondaryNav nav {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 100%;
  padding-left: 2%;
  position: absolute;
  bottom: 0;
}
.secondaryNav nav a {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  border: solid #7a88a3 0.2vh;
  background: #032747;
  margin-right: calc(2px + (28 - 2) * ((100vw - 520px) / (1600 - 520)));
  padding: 0.6% 2.5%;
  font-size: calc(8px + (24 - 8) * ((100vw - 520px) / (1600 - 520)));
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.burgerFadeInOnLoad {
  width: 100%;
  animation-name: fadeIn;
}
.burgerWrap {
  width: 75%;
  margin: 0 auto;
  font-size: 0;
}
.burgerHidden {
  display: none;
}
.burgerShow {
  width: 100%;
}
.burger-small {
  filter: blur(20px);
  width: 100%;
}
.imgRow {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
  font-size: 0;
}
.imgColumn {
  flex: 50%;
}
.pancakes {
  width: 100%;
}
.eggstack {
  width: 100%;
}
footer {
  color: whitesmoke;
  text-align: end;
  font-size: 1.6vw;
  background-color: #7a88a3;
  width: 75%;
  margin: 0 auto;
  padding: 1.5% 1.5% 1% 0;
}
/*----------MEDIA QUERIES----------*/
@media only screen and (max-width: 1024px) {
  body {
    margin-top: 8%;
  }
}
@media only screen and (max-width: 414px) {
  body {
    margin-top: 8%;
    margin-right: 0%;
  }
}
