* {
  box-sizing: border-box;
}
body {
  background-color: rgb(218, 218, 218);
  margin-top: 0;
  margin-left: 0;
}

header {
  background-color: #9eb5e1;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 0.5%;
}
header img {
  width: 40%;
  margin: 3% auto 1% auto;
}
header span {
  font-size: 1.3vw;
  color: black;
  padding: 0 0.5vw;
}
.language {
  width: 14%;
  margin: 0 0 0 86%;
}
.language a {
  text-decoration: none;
  color: #04284a;
  font-size: 1.3vw;
}
.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #7a88a3;
  width: 75%;
  margin: 0 auto;
  padding: 1%;
}
.mainNav a {
  text-decoration: none;
  font-size: 1.5vw;
  color: whitesmoke;
}
.mainNav a:hover {
  background-color: whitesmoke;
  color: black;
}
.info {
  width: 75%;
  margin: 0 auto;
  background-color: #171719;
  padding-top: 2vh;
  text-align: center;
}
.info h1 {
  background-color: blue;
  color: whitesmoke;
  font-size: 2.5vw;
}
.info h2 {
  display: inline-block;
  background-color: violet;
  color: white;
  width: 20%;
  text-align: left;
  margin: 0 1vw 1vw -29vw;
  font-size: 1.5vw;
}
.info div {
  background-color: red;
}
.info span {
  width: 40vw;
  position: relative;
  top: 0vw;
  margin: -10vw;
  background-color: violet;
}
